.menu{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: fit-content;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
  padding: 10px;
  border-radius: 0 0 10px 0;
}
button{
  font-size: medium;
  font-weight: 600;
  border: 1px solid #ccc;
}
.uno{
  border-radius: 10px 0 0 10px;
}
.tres{
  border-radius: 0 10px 10px 0;
}
