.container {
	margin: 6px;
	border-color: black;
	border-style: solid;
	justify-content: center;
	border-radius: 10px;
	height: 250px;
	width: auto;
	display: grid;
	grid-template-rows: 70% 15% 15%;
	&__text {
		text-align: center;
		width: 100%;
	}
	&__image {
		display: flex;
		justify-content: center;
		margin: 10px;
		&__foto {
			object-fit: contain;
		}
	}
	&__time {
		display: grid;
		grid-template-columns: auto auto;
		flex-direction: row;
		&__watch {
			padding: 0 10px 0 10px;
		}
		&__button {
			padding: 0 10px 0 10px;
		}
	}
}
