.App {
	&__title{
		color: rgb(0, 0, 0);
		font-size: 1.5em;
		font-weight: bold;
		text-align: center;
	}
  &__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
}
