.detail{
	width: 50%;
	border: 4px solid #ccc;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	margin: 40px;
	padding: 15px;
	&--img{
		object-fit: contain;
		display: flex;
		height: 30vh;
	}
	&__text{
		display: flex;
		flex-direction: column;
		padding-left: 1em;
		&--title{
			font-size: 1.5em;
			font-weight: 600;
			margin: 0;
		}
		&--description{
			font-style: italic;
			font-size: 1em;
			font-weight: 400;
			margin: 0 0 -1vh 0;
		}
		&--category{
			margin-top: -1vh;
		}
		&__rating{
			margin-top: -3vh;
			width: 30vh;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}
}
